/* Error: expected ")".
 *   ,
 * 1 | $theme: ( "border": #ccc, 
 *   |                           ^
 *   '
 *   ..\sass\_theme.sass 1:27      @import
 *   ..\sass\_scrollbar.sass 2:9   @import
 *   ..\sass\lightspeed.sass 1:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 1 \2502  $theme: ( "border": #ccc, \d\a   \2502                            ^\a   \2575 \a   ..\\sass\\_theme.sass 1:27      @import\a   ..\\sass\\_scrollbar.sass 2:9   @import\a   ..\\sass\\lightspeed.sass 1:20  root stylesheet';
}
