@use "sass:map"
@import theme, typography
    
.notify
    &:after
        content: "*"
        position: static
        margin-left: 0.2rem
        color: map.get($theme, "alert")

        animation: blink-animation 1s steps(5, start) infinite
        -webkit-animation: blink-animation 2s steps(5, start) infinite

@keyframes blink-animation
    to
        visibility: hidden
@-webkit-keyframes blink-animation
    to
        visibility: hidden