.avatar {
  display: grid;
  grid-auto-columns: 1fr auto;
  grid-auto-rows: auto 1fr;
  grid-template-areas: "title img" "class img";
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  cursor: pointer; }
  .avatar img {
    grid-area: img;
    width: 3rem;
    height: 3rem; }
  .avatar h1, .avatar h2, .avatar h3, .avatar h4, .avatar h5, .avatar h6 {
    grid-area: title; }
  .avatar span {
    grid-area: class; }
