@import typography, theme

button
  background-color: map-get($theme, "active")
  outline:1px solid map-get($theme, "white")
  border: 0
  outline-offset:0
  padding: .4rem .8rem .4rem .8rem
  font-size: $font-normal
  font-family: $font-stack
  cursor: pointer
  border-radius: .5rem
  text-align: center
  color: map-get($theme, "white")

  &:hover
    color: map-get($theme, "default")

@each $name, $color in $theme
  button.#{$name}
    background:$color

@keyframes color-change
  0%
    color: map-get($theme, "default")

  100%
    color: map-get($theme, "white")
