@use "sass:map"
@import theme

.card
    display: grid
    grid-template-rows:1fr auto 1fr
    border: 1px solid map.get($theme, "border")
    padding:0.75rem
    border-radius:2px
    background-color: #ffffffe0

.card-header
    border-bottom: 2.5px solid map.get($theme, "border")