html {
  /* for rem sizes */
  font-size: 14px; }

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

body.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20rem, 10%) auto minmax(20rem, 10%);
  grid-template-areas: "nav" "header" "main" "footer"; }
  body.grid *:focus {
    outline: none; }
  body.grid nav {
    grid-area: nav; }
  body.grid header {
    grid-area: header; }
  body.grid main {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%; }
  body.grid footer {
    grid-area: footer; }
  body.grid aside {
    grid-area: aside;
    overflow-x: hidden;
    overflow-y: auto; }
  body.grid aside.aside-right {
    grid-area: aside-right; }

body.fixed-nav {
  grid-template-areas: "header" "main" "footer"; }
  body.fixed-nav > nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }

body.with-aside {
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav nav" "aside header" "aside main" "footer footer"; }

body.with-aside-both {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "nav nav nav" "aside header aside-right" "aside main aside-right" "footer footer footer"; }

body.with-aside.fixed-nav {
  grid-template-columns: auto 1fr;
  grid-template-areas: "aside header" "aside main" "footer footer"; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }
