$theme: ( "border":  #ccc, "active":  #2eb9f7, "default": #a6a6a6, "first":#0063B2FF, "second":#fff, "third":#fff, "white":#fff, "black":#000, "primary": #2BAE66FF, "secondary":#9CC3D5FF, "success":#00ff00, "failure":#ff0055, "alert":#ff0055, "warning":#ffff00, )

@each $name, $color in $theme
  .bg-#{$name}
      background-color: $color !important

@each $name, $color in $theme
  .btn-#{$name}
    background:$color