$theme: ( "border":  #ccc, "active":  #2eb9f7, "default": #a6a6a6, "first":#FFA500, "second":#fff, "third":#fff, "black":#000, "primary": #FFC04C, "secondary":#fff, "success":#00ff00, "failure":#ff0055, "alert":#ff0055, "warning":#ffff00, )

@each $name, $color in $theme
  .bg-#{$name}
      background-color: $color !important

@each $name, $color in $theme
  .btn-#{$name}
    background:$color