.text-center
    text-align: center
    display: inline-block
    width: 100%

.text-right
    text-align: right
    display: inline-block
    width: 100%

.text-left
    text-align: left
    display: inline-block
    width: 100%

form
    input
        width: 100%

.hidden
    display: none

.p-5
    padding: 5px

.italic
    font-style: italic

.center-parent
    height:100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.rounding-0
    border-radius: 0 !important

.flex-start
    justify-content: flex-start !important
