@import url(./fonts/static/Assistant-Regular.ttf);
.bg-border {
  background-color: #ccc !important;
}

.text-border {
  color: #ccc;
}

.bg-hover {
  background-color: #2eb7f74f !important;
}

.text-hover {
  color: #2eb7f74f;
}

.bg-purple {
  background-color: #C58290 !important;
}

.text-purple {
  color: #C58290;
}

.bg-active {
  background-color: #2eb9f7 !important;
}

.text-active {
  color: #2eb9f7;
}

.bg-default {
  background-color: #c9c9c9 !important;
}

.text-default {
  color: #c9c9c9;
}

.bg-first {
  background-color: #0063B2FF !important;
}

.text-first {
  color: #0063B2FF;
}

.bg-second {
  background-color: #82d482 !important;
}

.text-second {
  color: #82d482;
}

.bg-third {
  background-color: #fff !important;
}

.text-third {
  color: #fff;
}

.bg-blue {
  background-color: #2eb9f7 !important;
}

.text-blue {
  color: #2eb9f7;
}

.bg-white {
  background-color: #fff !important;
}

.text-white {
  color: #fff;
}

.bg-black {
  background-color: #000 !important;
}

.text-black {
  color: #000;
}

.bg-orange {
  background-color: #f7d12e !important;
}

.text-orange {
  color: #f7d12e;
}

.bg-gold {
  background-color: #FFD700 !important;
}

.text-gold {
  color: #FFD700;
}

.bg-primary {
  background-color: #2BAE66FF !important;
}

.text-primary {
  color: #2BAE66FF;
}

.bg-secondary {
  background-color: #82d482 !important;
}

.text-secondary {
  color: #82d482;
}

.bg-success {
  background-color: #00ff00 !important;
}

.text-success {
  color: #00ff00;
}

.bg-failure {
  background-color: #ff0055 !important;
}

.text-failure {
  color: #ff0055;
}

.bg-danger {
  background-color: #ff6961 !important;
}

.text-danger {
  color: #ff6961;
}

.bg-warning {
  background-color: #ffff00 !important;
}

.text-warning {
  color: #ffff00;
}

body {
  font-family: Assistant-Regular, Ubuntu, Helvetica, sans-serif;
}

.text-large {
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1rem;
}

.corner {
  width: 0px;
  height: 0px;
  border: 77px solid;
  border-bottom-color: transparent !important;
  border-top-color: #c9c9c9;
  border-right-color: #c9c9c9;
  border-left-color: transparent !important;
  position: absolute;
  right: 0px;
  z-index: 2;
  cursor: pointer;
}
.corner i {
  position: relative;
  top: -4rem;
  font-size: 4rem;
  z-index: 3;
  transform: translate3d(-2rem, -2rem);
}

.corner.border {
  border-top-color: #ccc;
  border-right-color: #ccc;
}

.corner.hover {
  border-top-color: #2eb7f74f;
  border-right-color: #2eb7f74f;
}

.corner.purple {
  border-top-color: #C58290;
  border-right-color: #C58290;
}

.corner.active {
  border-top-color: #2eb9f7;
  border-right-color: #2eb9f7;
}

.corner.default {
  border-top-color: #c9c9c9;
  border-right-color: #c9c9c9;
}

.corner.first {
  border-top-color: #0063B2FF;
  border-right-color: #0063B2FF;
}

.corner.second {
  border-top-color: #82d482;
  border-right-color: #82d482;
}

.corner.third {
  border-top-color: #fff;
  border-right-color: #fff;
}

.corner.blue {
  border-top-color: #2eb9f7;
  border-right-color: #2eb9f7;
}

.corner.white {
  border-top-color: #fff;
  border-right-color: #fff;
}

.corner.black {
  border-top-color: #000;
  border-right-color: #000;
}

.corner.orange {
  border-top-color: #f7d12e;
  border-right-color: #f7d12e;
}

.corner.gold {
  border-top-color: #FFD700;
  border-right-color: #FFD700;
}

.corner.primary {
  border-top-color: #2BAE66FF;
  border-right-color: #2BAE66FF;
}

.corner.secondary {
  border-top-color: #82d482;
  border-right-color: #82d482;
}

.corner.success {
  border-top-color: #00ff00;
  border-right-color: #00ff00;
}

.corner.failure {
  border-top-color: #ff0055;
  border-right-color: #ff0055;
}

.corner.danger {
  border-top-color: #ff6961;
  border-right-color: #ff6961;
}

.corner.warning {
  border-top-color: #ffff00;
  border-right-color: #ffff00;
}/*# sourceMappingURL=corner.css.map */